@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --rounded-box: 0.5rem; /* border-radius for cards and other big elements */
    --rounded-btn: 0.2rem; /* border-radius for buttons and similar elements */
    --rounded-badge: 0.9rem; /* border-radius for badge and other small elements */
    --animation-btn: 0.25s; /* bounce animation time for button */
    --animation-input: 0.2s; /* bounce animation time for checkbox, toggle, etc */
    --padding-card: 2rem; /* default card-body padding */
    --btn-text-case: none; /* default text case for buttons */
    --navbar-padding: 0.5rem; /* default padding for navbar */
    --border-btn: 2px; /* default border size for button */
    --btn-focus-scale: 0.5;

    /*
    font-family: Chalkboard, comic sans ms, sanssecondaryerif;
    --border-color:var(--b3);
    --btn-focus-scale:0.95;
    --tab-border:1px;
    --tab-radius:0.5rem;
    */
  }
  body {
    background-color: #eee;
    min-height: 100vh;
  }
}

@layer components {
  .btn-quiet {
    @apply btn-link hover:underline hover:bg-primary/10 border-transparent hover:border-white;
  }
  .btn-quiet-dark {
    @apply btn btn-outline border-none text-white hover:btn-secondary;
    background-color: hsla(var(--p) / var(--tw-bg-opacity, 1));
  }
  .big-card {
    @apply card bg-white text-gray-800 p-6 border shadow-lg mb-6 max-w-prose;
  }
  .page-card {
    @apply container mx-auto card bg-white text-gray-800 px-3 md:px-6 lg:px-10 border shadow-lg mb-6 pt-10 pb-16 min-h-50vh;
  }
  .page-card > .h1,
  .page-card > .h2 {
    @apply mb-8 text-gray-700;
  }
  .card {
    @apply bg-white;
  }
}
@layer utilities {
  .h1 {
    @apply lg:text-6xl md:text-5xl sm:text-4xl text-3xl my-4; /* font-display;*/
  }
  .d1 {
    @apply lg:text-8xl md:text-6xl sm:text-5xl text-4xl my-4; /* font-display;*/
  }
  .h1-sub {
    @apply md:text-2xl sm:text-xl text-lg;
  }
  .h2 {
    @apply lg:text-4xl md:text-3xl text-2xl my-4; /* font-display;*/
  }
  .h3 {
    @apply md:text-2xl text-xl my-3; /* font-display;*/
  }
  .h4 {
    @apply md:text-xl text-lg my-2; /* font-display;*/
  }
  .h5 {
    @apply text-lg my-2 font-bold;
  }
  .px-min {
    @apply px-2 sm:px-3 md:px-4 lg:px-6;
  }
}
