@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --rounded-box: 0.5rem; /* border-radius for cards and other big elements */
    --rounded-btn: 0.2rem; /* border-radius for buttons and similar elements */
    --rounded-badge: 0.9rem; /* border-radius for badge and other small elements */
    --animation-btn: 0.25s; /* bounce animation time for button */
    --animation-input: 0.2s; /* bounce animation time for checkbox, toggle, etc */
    --padding-card: 2rem; /* default card-body padding */
    --btn-text-case: none; /* default text case for buttons */
    --navbar-padding: 0.5rem; /* default padding for navbar */
    --border-btn: 2px; /* default border size for button */
    --btn-focus-scale: 0.5;

    /*
    font-family: Chalkboard, comic sans ms, sanssecondaryerif;
    --border-color:var(--b3);
    --btn-focus-scale:0.95;
    --tab-border:1px;
    --tab-radius:0.5rem;
    */
  }
  body,
  #sidebar-all nav {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer components {
  .w-app {
    @apply w-full max-w-[40rem] mx-auto; /* outline outline-dashed outline-white/50; */
  }
  .link {
    @apply hover:underline cursor-pointer;
  }
  .card-white {
    @apply card card-body bg-base-100 text-base-content;
  }
  /* used for a whole page */
  .page-card {
    @apply card-white;
  }
  .page-card > .h1,
  .page-card > .h2 {
    @apply mb-8 text-base-content/90;
  }
}
@layer utilities {
  .h1 {
    @apply lg:text-6xl md:text-5xl sm:text-4xl text-3xl my-4; /* font-display;*/
  }
  .d1 {
    @apply lg:text-8xl md:text-6xl sm:text-5xl text-4xl my-4; /* font-display;*/
  }
  .h1-sub {
    @apply md:text-2xl sm:text-xl text-lg;
  }
  .h2 {
    @apply lg:text-4xl md:text-3xl text-2xl my-4; /* font-display;*/
  }
  .h3 {
    @apply md:text-2xl text-xl mt-1 mb-3; /* font-display;*/
  }
  .h4 {
    @apply md:text-xl text-lg my-2; /* font-display;*/
  }
  .h5 {
    @apply text-lg my-2 font-bold;
  }
  .px-min {
    @apply px-2 sm:px-3 md:px-4 lg:px-6;
  }
}
